# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Testing
coverage/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# IDEs and Editors
.vscode/
.idea/

# Variables de entorno y Credenciales
.env
.env.*
.env*.local
!.env.example

# Typescript
*.tsbuildinfo

# Plantillas por defecto
app-example/

# Generated native folders
/ios
/android