# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# Variables de entorno 
.env
.env.*
.env*.local

# Typescript
*.tsbuildinfo

# plantillas por defecto (opcional, ignora el ejemplo de expo)
app-example/

# Generated native folders
/ios
/android